@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300;400;500;700;900&display=swap");

html,
body {
  height: 100vh;
}
body {
  font-family: "Noto Sans HK", sans-serif;
}

#__next {
  height: inherit;
  display: flex;
  flex-direction: column;
}

/* material override */
.MuiAccordionDetails-root {
  padding: 0;
}

.MuiDialogContent-root {
  padding: 0;
}
.MuiOutlinedInput-notchedOutline legend {
  max-width: none;
}
